@media (min-width: 2000px) {
  html, body {
    font-size: 21px;
  }
}

@media (min-width: 1900px) and (max-width: 2000px) {
  html, body {
    font-size: 20px;
  }
}

@media (min-width: 1800px) and (max-width: 1900px) {
  html, body {
    font-size: 19px;
  }
}

@media (min-width: 1700px) and (max-width: 1800px) {
  html, body {
    font-size: 18px;
  }
}

@media (min-width: 1600px) and (max-width: 1700px) {
  html, body {
    font-size: 17px;
  }
}

@media (min-width: 1500px) and (max-width: 1600px) {
  html, body {
    font-size: 16px;
  }
}

@media (min-width: 1400px) and (max-width: 1500px) {
  html, body {
    font-size: 15px;
  }
}

@media (min-width: 1300px) and (max-width: 1400px) {
  html, body {
    font-size: 14px;
  }
}

@media (min-width: 1200px) and (max-width: 1300px) {
  html, body {
    font-size: 13px;
  }
}

@media (max-width: 1200px) {
  html, body {
    overflow-x: hidden;
    font-size: 16px;
  }
}


@media (min-width: 750px) {
  .t2 {
    font-size: 2.5rem;
  }
}

@media (max-width: 850px) {
  .t2 {
    font-size: 2.2rem;
  }
}

@media (max-width: 750px) {
  .t2 {
    font-size: 1.8rem;
  }
}

@media (max-width: 620px) {
  .t2 {
    font-size: 1.6rem;
  }
}

@media (max-width: 550px) {
  .t2 {
    font-size: 1.4rem;
  }
}

@media (max-width: 370px) {
  .t2 {
    font-size: 1.4rem;
  }
}


@media (min-width: 750px) {
  .t1 {
    font-size: 3.1rem;
  }
}

@media (max-width: 750px) {
  .t1 {
    font-size: 2.2rem;
  }
}

@media (max-width: 670px) {
  .t1 {
    font-size: 2rem;
  }
}

@media (max-width: 540px) {
  .t1 {
    font-size: 1.6rem;
  }
}

@media (max-width: 400px) {
  .t1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 370px) {
  .t1 {
    font-size: 1.4rem;
  }
}

@media(max-width: 450px) {
  .extra_small_mobile {
    display: block;
  }
}

@media(min-width: 450px) {
  .extra_small_mobile {
    display: none;
  }
}

@media(max-width: 600px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
}

@media(min-width: 600px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
}
