@import "variable";


button:hover, a:hover, .logo {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.logo {
  font-style: normal;
  font-family: 'Roboto Flex';
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: -0.13em;
  color: $main-dark;
}

.light_button {
  width: 15rem;
  height: 2.9rem;
  border: 1px solid $main-blue;
  border-radius: 8px;
  color: $main-blue;
  font-size: 0.9rem;
  background: transparent;
  transition: 0.2s ease-in-out;

  &:hover {
    background: $main-blue;
    color: $bg-color;
  }
}


.accent_button {
  color: $bg_color;
  width: 16rem;
  height: 3.9rem;
  background: $main-blue;
  box-shadow: 0 5px 0.75rem rgba(46, 109, 254, 0.2);
  border-radius: 8px;
  border: none;
  transition: 0.2s ease-in-out;

  &:hover {
    background: $main-dark !important;
    color: $bg-color;
  }
}


.flex_container {
  display: flex;
  align-items: center;

  &__column {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__column_start {
    display: flex;
    flex-direction: column;
  }
}

.grid_container__halved {
  display: grid;
  grid-template-columns:50% 50%;
}

.container__absolute {
  position: absolute;
}

.container__relative {
  position: relative;
}

.container__centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

