@import '/src/assets/style/core';

#aboutUs {
  padding: 0 3.1rem;

  .title {
    color: $main-dark;
    font-weight: 700;
    margin: 6rem 0 3rem 0;
  }

  .info_columns {
    display: grid;
    grid-template-columns: 27% 27%  32%;
    gap: 7%;
    margin-bottom: 4rem;

    .info_columns_title {
      line-height: 150%;
      color: $main-blue;
      margin-bottom: 0.7rem;
      font-weight: 600;
    }

    .text {
      //max-width: 80%;
      font-size: 0.9rem;
    }
  }

  .photos {
    gap: 1rem;
    width: 100%;
    margin-bottom: 6rem;
  }

  .sub_title {
    color: $main-dark;
    font-size: 0.9rem;
    font-weight: 700;
    margin-left: 0.3rem;
    margin-top: 0.5rem;

    span {
      margin-left: 1rem;
    }
  }
}

@media (max-width: 900px) {
  #aboutUs {
    padding: 0 1rem;

    .title {
      margin: 3rem 0 0.5rem 0;
    }

    .info_columns {
      display: flex;
      flex-direction: column;
      .text{
        max-width: 90%;
      }
    }

    .info_columns_title {
      margin-top: 1.5rem;
    }

    .photos {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      img{
        max-height: 11rem;
      }

      .sub_title {
        font-size: 0.7rem;
      }
    }
  }
}
