@import '/src/assets/style/core';

#aboutUs {
  padding: 0 3.1rem;

  .title {
    color: $main-dark;
    font-weight: 700;
    font-size: 2.6rem;
    margin: 6rem 0 3rem 0;
  }

  .info_columns {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 3%;
    margin-bottom: 4rem;

    .info_columns_title {
      font-size: 1.2rem;
      line-height: 150%;
      color: $main-blue;
      margin-bottom: 0.7rem;
    }

    .text {
      max-width: 80%;
      font-size: 0.9rem;
    }
  }

  .photos {
    gap: 1rem;
    width: 100%;
    margin-bottom: 6rem;

    .img_container {
      position: relative;
      height: 18.5rem;
      box-shadow: 0px 5px 15px rgba(206, 206, 206, 0.25);
      border-radius: 24px;
      overflow: hidden;

      .dubai {
        position: absolute;
        top: -5rem;
        width: 100%;
      }

      .rus {
        position: absolute;
        top: -9rem;
        width: 100%;
      }
    }
  }

  .sub_title {
    color: $main-dark;
    font-size: 0.9rem;
    font-weight: 700;
    margin-left: 0.3rem;
    margin-top: 0.5rem;

    span {
      margin-left: 1rem;
    }
  }
}

@media (max-width: 900px) {
  #aboutUs {
    padding: 0 1rem;

    br {
      display: none;
    }

    .title {
      font-size: 2rem;
      margin: 3rem 0 0.5rem 0;
    }

    .info_columns {
      display: flex;
      flex-direction: column;
    }

    .info_columns_title {
      margin-top: 1.5rem;
    }

    .photos {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .dubai {
        top: 0;
        position: relative;
      }

      .rus {
        top: -9rem;
      }
      .img_container {
        height: 10rem;

        .dubai {
          top: 0;
        }

        .rus {
          top: -4rem;
        }
      }
      .sub_title {
        font-size: 0.7rem;
      }
    }
  }
}
