@import "src/assets/style/core";

.popup{
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  justify-content: center;
  transition: 0.2s ease-in-out;

  .popup_container{
    background: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding: 5rem 7rem;
    justify-content: center;
    .text{
      color: $main_dark;
      font-size: 1.1rem;
      text-align: center;
    }
  }
}
