@import "src/assets/style/core";


.select_container {
  position: relative;
  width: 100%;
  height: 100%;

  .triangle {
    position: absolute;
    height: 0.5rem;
    width: 0.5rem;
    z-index: 2;
    top: 1.6rem;
    left: 3.4rem;
    transform: rotate(90deg);
    filter: invert(0.5);
    pointer-events: none;
  }

  .option_container {
    display: flex;
    align-items: center;

    img {
      height: 2rem;
      width: 2rem;
      margin-right: 2rem;
    }
  }

  .input_container {
    position: absolute;
    width: calc(100% - 4.5rem);
    height: calc(100% - 2px);
    top: 0;
    right: 0;
    pointer-events: none;
    //background: #5B607A!important;

    input {
      //background: #5B607A!important;
      width: calc(100% - 1.3rem) !important;
      height: calc(100% - 2px) !important;
      border-radius: 0 10px 10px 0 !important;
      pointer-events: auto !important;
      border-left: 1px solid #D9D9D9 !important;
      outline: none !important;
    }

    &:focus-visible {
      border-color: $main-blue !important;
      border-left: 1px solid $main-blue !important;
    }
  }
}
