@import "src/assets/style/core";


select {
  background: $bg-color;
  border-radius: 10px;
  border: 1px solid transparent;
  outline: none;
  transition: 0.3s ease-in-out;
  font-size: 1rem;
  padding-left: 1rem;
  color: $main-dark;
  height: 3.5rem;
  //width: 100%;
  padding-right: 1rem;

  option{
    padding: 0.5rem 0!important;
    //background: #2E6DFE;
  }

  &:focus-visible {
    border: 1px solid $main-blue;
    transition: 0.2s ease-in-out;
  }

  &::placeholder {
    color: $sub-color;
  }
}

.sending_form__img-select {
  display: flex;
  background: $bg-color;
  border-radius: 10px;
  margin-bottom: 0.75rem;
  width: 100%;

  .dump_container {
    align-items: center;
    width: 4rem;
    position: absolute;
    border-right: 1px solid #D9D9D9;
    height: 3.5rem;

    .dump {
      height: 2rem;
      width: 2rem;
    }
  }

  select {
    //border-left: 1px solid #D9D9D9;
    border-radius: 10px;
    width: 100%;
    padding-left: 4.9rem;

    &:focus-visible {
      border-left: 1px solid $main-blue;
    }
  }

  .no-left-border {
    border-left: none;
  }
}
