@import "../../../assets/style/core";

#clients {
  margin: 0 3.1rem 6rem 3.1rem;

  .title {
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 130%;
    color: $main-dark;
    margin-bottom: 1.5rem;
  }

  span {
    font-weight: 700;
    color: $main-dark;
    white-space: nowrap;
  }

  .photos {
    display: grid;
    grid-template-columns: calc(33.3% - 0.33rem) calc(33.3% - 0.33rem) calc(33.3% - 0.33rem);
    gap: 0.5rem;

    img {
      width: 100%;
      height: 17rem;
      background: #FFFFFF;
      box-shadow: 0px 5px 15px rgba(206, 206, 206, 0.25);
      border-radius: 12px;
    }
  }
}

@media (max-width: 1100px) {
  #clients {
    margin: 0 1rem 6rem 1rem;

    .title {
      font-size: 2.4rem;
    }

    .photos {
      display: flex;
      flex-direction: column;

      .photos {
        height: 9rem;
      }
    }
  }
}
