@import "../../../assets/style/core";

#form {
  margin-top: 6rem;

  .column {
    padding: 2.5rem;
    gap: 0.7rem;
    align-items: flex-start;
    background: white;
    border-radius: 12px;
    box-shadow: 0px 5px 15px rgba(206, 206, 206, 0.25);
    margin-right: 1rem;

    .title {
      font-weight: 700;
      font-size: 1.7rem;
      line-height: 110%;
      color: $main-dark;
      margin-bottom: 1rem;
    }

    .bank_btn {
      width: 100%;
      border: none;
      border-radius: 10px;
      height: 4rem;
      font-size: 1rem;
      transition: 0.05s ease-in-out;

      .bank_base {
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 10px;
        margin-right: 1.5rem;
        margin-left: 0.7rem;
        transition: 0.1s ease-in-out;

        img {
          height: 1.7rem;
          width: 1.7rem;
        }
      }

      .bank_title {
        font-weight: 600;
        color: $main-dark;
      }
    }
  }

  .bank_btn:hover {
    background: $light-blue;

    .bank_base {
      background: $light-blue !important;
    }

  }

  .active_bank_btn, .active_bank_btn:hover {
    background: $main-blue;

    .bank_base {
      background: $light-blue !important;
    }

    .bank_img {
      filter: brightness(0) invert(1);
    }

    .bank_title {
      color: white !important;
    }
  }
}

#sending_form {

  .sending_form__img-input {
    display: flex;
    background: $bg-color;
    border-radius: 10px 0 0 10px;
    height: 3.5rem;

    img {
      height: 2rem;
    }

    .dump {
      min-width: 4rem;
      margin: auto;
    }

    input {
      border-radius: 0 10px 10px 0;
      border: none;
      background: $bg-color;
    }
  }
}
