@import "../../assets/style/core";

#header {
  height: 10vh;
  border-bottom: 1px solid $main-dark;
  justify-content: space-between;

  .logo {
    margin-left: 3rem;
  }

  .links {
    gap: 2.5rem;
    margin-right: 2rem;

    a {
      color: $main-dark;
      font-size: 0.9rem;
    }
  }

  .phone_bar {
    display: none;
  }
}

#navbar {
  height: 100vh;
  width: 100%;
  position: fixed;
  background: $main-blue;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;

  #white_close {
    position: absolute;
    top: 2.2rem;
    right: 1rem;
  }

  .accent_button {
    border: 1px solid $bg_color
  }

  a {
    font-size: 1.3rem;
    color: $bg_color;
  }

  .menu_links {
    gap: 1rem;

  }

  .contacts {
    position: absolute;
    width: 100%;
    bottom: 1rem;
    gap: 0.5rem;

    button {
      font-size: 1.2rem;
      margin-bottom: 0.5rem;
    }

    a {
      font-weight: 400;
      font-size: 1.2rem;
      color: $light_blue;
    }
  }
}

@media (max-width: 700px) {
  #header {
    .logo {
      margin-left: 1rem;
    }

    .links {
      display: none;
    }

    .phone_bar {
      display: flex;
      gap: 10px;
    }
  }
}
