@import "src/assets/style/core";

#about {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 0 3.1rem;

  .left_side {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;


    .exchange_btn {
      border: 1px solid #23272A;
      border-radius: 1.7rem;
      background: transparent;
      color: $main_dark;
      font-size: 1rem;
      height: 2.5rem;
      padding: 0 2rem;
    }

    .exchange_btn:hover {
      cursor: auto;
    }

    .tools {
      gap: 1rem;

      div {
        color: $main-dark;
      }

      .point {
        margin-left: 1rem;
        border-radius: 100%;
        background: #95B5FF;
        font-style: normal;
        font-weight: 500;
        font-size: 0.8rem;
        height: 1.9rem;
        width: 1.9rem;
      }
    }

    .concurrency {
      gap: 1rem;
    }

    .title {
      font-weight: bold;
      line-height: 110%;
      font-size: 3.8rem;
      color: $main-dark;
    }

    .sub_title {
      font-size: 1.2rem;
      max-width: 39rem;
      font-weight: 400;
      line-height: 150%;
    }
    .accent_button {
      margin-top: 1rem;
      font-size: 1rem;
      &:hover {
        background: $main-dark!important;
        color: $bg-color;
      }
    }


  }

  .right_side {
    .light_spot {
      position: absolute;
      height: 30rem;
    }

    .accent_spot {
      height: 20rem;
      position: absolute;
      right: 0;
      top: -1rem;
    }

    .json_container__relative {
      pointer-events: none;
      position: relative;
      height: 35rem;
      width: 37rem;
      margin-top: 5rem;
    }

    .json_container__absolute {
      position: absolute;
      width: 54rem;
      top: -10rem;
      left: -10rem;
    }

  }
}

@media (max-width: 700px) {
  #about {
    display: flex;
    flex-direction: column;
    padding: 0 2vw;

    .left_side {
      margin-top: 4rem;

      .exchange_btn {
        font-size: 0.9rem;
        height: 2rem;
      }

      .title {
        font-size: 2.7rem;
      }

      .sub_title {
        font-size: 1rem;
      }

      .concurrency {
        display: none;

      }

      .accent_button {
        width: 100%;
      }
    }

    .right_side {
      margin-top: 2rem;

      .light_spot {
        width: 94vw;
        height: 80vw;
      }

      .accent_spot {
        width: 64vw;
        height: 50vw;
      }

      .json_container__relative {
        width: 94vw;
      }

      .json_container__absolute {
        width: 150vw;
        top: -10rem;
        left: -10rem;

      }
    }
  }
}
