@import "/src/assets/style/core";

#footer {
  height: 17rem;
  background: #EAEAEA;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3.1rem;


  .company {
    gap: 1.1rem;
    align-items: start;

    .sub_title {
      text-transform: uppercase;
      font-family: Roboto;
    }
  }

  .contacts {
    gap: 1rem;
  }

  .phones {
    gap: 0.5rem;
  }

  .circle {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 1px solid $main-dark;
    transition: 0.1s ease-in-out;

    img {
      height: 1rem;
      width: 1rem;
    }

    &:hover {
      background: $main-dark;

      img {
        filter: brightness(0) invert(1);
      }
    }
  }
}

@media (max-width: 700px) {
  #footer {
    justify-content: center;

    .company {
      display: none;
    }
  }
}
