@import "assets/style/core";
@import "assets/style/adaptive";

html, body{
  background: $bg-color;
}

* {
  color: $light-dark;
  font-family: 'Object Sans';
  font-style: normal;
  font-weight: 400;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar-thumb {
  background: $main-blue;
  border-radius: 10px;
}

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0.2);
}
