@import "assets/style/core";
@import "assets/style/adaptive";

html, body{
  background: $bg-color;
}

* {
  color: $light-dark;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar-thumb {
  background: $main-blue;
  border-radius: 10px;
}

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0.2);
}

.alert-bg{
  background: #5B607A;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300;8..144,400;8..144,500;8..144,600;8..144,700&display=swap');
